# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/build/.vs
/build/bin
/build/obj
/build/premake5.exe
/test/*.exe
/test/*.dll
/build/*.opendb
/build/*.db
/third_party/lua
/third_party/lua-intf
/third_party/protobuf
